<div *ngIf="team">
    <h1 class="display-4">{{team.teamName}}</h1>
</div>

<div class='table-responsive'>
    <table class="table" *ngIf='team'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Inside Scoring</th>
                <th>Outside Scoring</th>
                <th>Playmaking</th>
                <th>Athleticism</th>
                <th>Defense</th>
                <th>Rebounding</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let player of team.players'>
                <td>
                    {{player.playerFirstName}} {{player.playerLastName}}
                </td>
                <td>
                    {{player.positionPrimary | titlecase}}<span
                        *ngIf='player.positionSecondary'>/{{player.positionSecondary | titlecase}}</span>
                </td>
                <td>
                    {{player.gradeIns}}
                </td>
                <td>
                    {{player.gradeOut}}
                </td>
                <td>
                    {{player.gradePly}}
                </td>
                <td>
                    {{player.gradeAth}}
                </td>
                <td>
                    {{player.gradeDef}}
                </td>
                <td>
                    {{player.gradeReb}}
                </td>
                <td>
                    {{player.salary}}
                </td>
            </tr>
        </tbody>
    </table>
</div>